:root {
    /* https://coolors.co/336699-668eb3-2f4858-1b2b34-effff0 */
    --bg: #1B2B34;
    --bg-alt: #2F4858;
    --fg-alt: #00BBF9;
    --fg: #0084FF;
    --text: #EFFFFF;
    --text-alt: #c1cfcf;
}

body {
    font-family: "SF Pro Text", "Roboto", sans-serif;
    color: var(--text);
    background-color: var(--bg);
}

a {
    text-decoration: none;
    color: var(--fg-alt);
    cursor: pointer;
}